<mat-toolbar color="primary">
  <button *ngIf="group" mat-icon-button aria-label="back to groups" class="exit-icon" [routerLink]="['/groups', {kicked: false}]" matTooltip="Leave Group">
      <mat-icon>arrow_back</mat-icon>
  </button>
  

  Hello&nbsp;<span *ngIf="userOptions"> {{userOptions.name}}</span>
  <span *ngIf="group">, welcome to&nbsp;{{group.name}} </span>

  <span class="example-spacer"></span>

  <button *ngIf="group" mat-icon-button aria-label="settings" class="exit-icon" (click)="emitView('default')" matTooltip="Dashboard Layout">
    <mat-icon>dashboard</mat-icon>
  </button> 

  <button *ngIf="group" mat-icon-button aria-label="settings" class="exit-icon" (click)="emitView('timelines')" matTooltip="Master Timeline Layout">
    <mat-icon>timeline</mat-icon>
  </button> 

  <button *ngIf="group" mat-icon-button aria-label="settings" class="exit-icon" (click)="emitView('annotations')" matTooltip="Annotation View">
    <mat-icon>label</mat-icon>
  </button> 

  <span class="example-spacer"></span>

  <button *ngIf="group" mat-icon-button aria-label="settings" class="exit-icon" (click)="openDialog()" matTooltip="Change User Settings">
    <mat-icon>person</mat-icon>
  </button> 

  <button *ngIf="group" mat-icon-button aria-label="settings" class="exit-icon" (click)="sidenav.toggle()" matTooltip="Show Group Participants">
    <mat-icon>group</mat-icon>
  </button> 
</mat-toolbar>