<mat-toolbar color="primary">
  <button *ngIf="group" mat-icon-button aria-label="back to groups" class="exit-icon" [routerLink]="['/groups']">
      <mat-icon>arrow_back</mat-icon>
  </button>
  

  Hello&nbsp;<span *ngIf="userOptions"> {{userOptions.name}}, </span>
  &nbsp;<span *ngIf="group">welcome to&nbsp;{{group.name}} </span>

  <span class="example-spacer"></span>

  <button *ngIf="group" mat-icon-button aria-label="settings" class="exit-icon" (click)="openDialog()">
    <mat-icon>settings</mat-icon>
  </button> 

  <button *ngIf="group" mat-icon-button aria-label="settings" class="exit-icon" (click)="sidenav.toggle()">
    <mat-icon>list</mat-icon>
  </button> 
</mat-toolbar>