.episode-vis {

    .utterance-sentence {
        width: fit-content; 
        display: block;
    }

    .bold{
        font-weight: bold;
    }
}

.episodeDiv{
    width: 100px;
    //float:left;
    //max-width: 450px;
    overflow: hidden;
    //cursor: move;
}