.episode-vis {

    .utterance-sentence {
        width: fit-content; 
        display: block;
    }

    .bold{
        font-weight: bold;
    }

    .episodeSvgContainer{
        border: 1px dashed gray;
      }
}
