<div class="root">
  <div class="panel left">
    <div class="map">
      <h1>MAP COMPONENT</h1>
    </div>
    <div class="episodes">
      <h1>EPISODE COMPONENT</h1>
      <dbvis-episode-vis [data]="episodeData"></dbvis-episode-vis>
    </div>

  </div>
  <div class="panel right">
    <div class="timeline">
      <!-- <h1>TIMELINE</h1> -->
      <dbvis-timeline-vis [options]="timelineOptions"></dbvis-timeline-vis>
    </div>

    <div class="story">
      <h1>STORY</h1>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>