<mat-sidenav-container class="example-container">
  

  <mat-sidenav-content id="sidenav-content">

    <dbvis-header [group]="currentGroup" [sidenav]="sidenav" (view)="changeLayout($event)"></dbvis-header>


    <div class="root" *ngIf="dashboardLayout === 'default'">
      <div class="panel left">

        <div class="story">
          <h1>RUMBLE MAP</h1>
          <dbvis-map-glyph-vis [mc1Data]="brushedMc1Data" [options]="mapOptions"></dbvis-map-glyph-vis>
        </div>

        <div class="map">
          <h1>RADIATION MAP</h1>
          <dbvis-map-neighborhood-vis [options]="mapOptions" (selected)="mapNeighborhoodChanged($event)" [radiationData]="filteredRadiationData"></dbvis-map-neighborhood-vis>
        </div>

      </div>
      <div class="panel right">
        <div class="timelineselection" *ngIf="masterTimelineItem">
          <mat-form-field>
            <mat-label>Timeline View</mat-label>
            <mat-select [value]="masterTimelineItem.title" (selectionChange)="setSingleTimelineItem($event.value)">
              <mat-option *ngFor="let title of streamGraphTitles" [value]="title">
                {{ title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="timeline">
          <!-- <h1>TIMELINE</h1> -->
          <dbvis-timeline-vis 
            *ngIf="masterTimelineItem"
            [options]="masterTimelineItem.timelineOptions" 
            [otherBrushes]="timelineOtherBrushes"
            (brushed)="timelineBrushed($event)" 
            [streamGraphData]="masterTimelineItem.data" 
            [streamGraphColorScale]="masterTimelineItem.colorScale" 
            [brushExternal]="brushExternal"
          ></dbvis-timeline-vis>
        </div>

        <div class="episodes">
          <h1>Y*INT EPISODES</h1>
          <dbvis-episode-app></dbvis-episode-app>
        </div>
        
      </div>
    </div>


    <div class="root timelines draggable-list" cdkDropList *ngIf="dashboardLayout === 'timelines'" (cdkDropListDropped)="drop($event)">


      <div class="draggable-box timeline row" *ngFor="let timelineItem of timelineData" cdkDrag>
        <mat-icon class="icon draw" aria-hidden="false" aria-label="drag me" cdkDragHandle>drag_indicator</mat-icon>
        
        <div class="title">
            <h5 *ngIf="!timelineItem.titleEditMode" (click)="timelineItem.titleEditMode = !timelineItem.titleEditMode">{{ timelineItem.title }}</h5>

            <mat-form-field class="form" *ngIf="timelineItem.titleEditMode">
                <input matInput placeholder="Title" 
                  [(ngModel)]="timelineItem.title" 
                  (keydown.enter)="timelineItem.titleEditMode = false" 
                  (keydown.escape)="timelineItem.titleEditMode = false" 
                  (blur)="timelineItem.titleEditMode = false"
                >
            </mat-form-field>
        </div>
        
        
        <div class="icons">
          <button mat-icon-button aria-label="settings" class="icon filter" (click)="timelineItem.titleEditMode = !timelineItem.titleEditMode" matTooltip="Edit Title" >
              <mat-icon>edit</mat-icon>
          </button>

          <button *ngIf="timelineItem.type === 'streamgraph'" mat-icon-button aria-label="settings" class="icon filter" (click)="openFilterDialog(timelineItem)" matTooltip="Filter Settings">
              <mat-icon>settings</mat-icon>
          </button> 

          <button mat-icon-button aria-label="delete" class="icon filter" (click)="removeMasterTimeline(timelineItem)" matTooltip="Remove">
              <mat-icon>delete</mat-icon>
          </button>
        </div>

        <dbvis-timeline-vis 
          *ngIf="timelineItem.type === 'streamgraph'" 
          class="timeline" 
          [options]="timelineItem.timelineOptions" 
          [otherBrushes]="timelineOtherBrushes"
          (brushed)="timelineBrushed($event)" 
          [brushExternal]="brushExternal" 
          [streamGraphData]="timelineItem.filteredData" 
          [streamGraphColorScale]="timelineItem.colorScale" 
          [(hoverLine)]="globalHoverLine"
          [(annotations)]="timelineItem.annotations"
          (annotationsChange)="annotationsChanged($event, timelineItem)"
        >
        </dbvis-timeline-vis>

        <dbvis-episode-vis
          *ngIf="timelineItem.type === 'episodes'" 
          class="episode"
          [episode]="timelineItem.episodeCategory.episodes" 
          [showText]="timelineItem.episodeOptions.showText"
          [(annotations)]="timelineItem.annotations"
          (annotationsChange)="annotationsChanged($event, timelineItem)"
          [showHorizontally]="timelineItem.episodeOptions.rotate"
          [(hoverLine)]="globalHoverLine"
        >
        </dbvis-episode-vis>

        <div *ngIf="timelineItem.type === 'separator'" class="separator">
          <hr>
        </div>
      </div>

      <div class="timeline row button-row">
        <div>
          <button mat-fab color="primary" [matMenuTriggerFor]="menu">
            <mat-icon>add</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addMasterTimeline('separator')">-Separator-</button>
            <button mat-menu-item *ngFor="let title of timelineDataTitles" (click)="addMasterTimeline(title)">{{ title }}</button>
          </mat-menu>
        </div>
      </div>
    </div>

    <div class="root" *ngIf="dashboardLayout === 'annotations'">
      <mat-list style="width:100%">
        <mat-list-item *ngFor="let an of allAnnotations">
          <h4 mat-line><i>{{ an.data.date | date :'yyyy-MM-dd hh:mm:ss'}}</i>&nbsp;
            <span [ngStyle]="{'color': an.color}">{{ an.userName }}</span>: <b>{{ an.note.title }}</b></h4>
          <p mat-line>{{ an.note.label2 }}</p>
          <p mat-line>Found in chart: {{ an.masterTimelineOriginalTitle }}</p>

          <span class="example-spacer"></span>
          <button mat-icon-button aria-label="delete" class="icon filter" (click)="removeAnnotation(an)" matTooltip="Remove" [disabled]="userOptions.id !== an.userId">
              <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="over" position="end" style="width:30%;">
      <mat-toolbar>Users</mat-toolbar>
      <mat-list *ngIf="groupSettings">
        <mat-list-item *ngFor="let user of groupSettings.users">
            <button mat-icon-button aria-label="remove user" [disabled]="user.id === userOptions.id" (click)="removeUserFromGroup(user)">
              <mat-icon>delete</mat-icon>
            </button>
          <h4 mat-line [ngStyle]="{'color': user.color}">{{user.name}}</h4>
        </mat-list-item>
      </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
