:host {
    pointer-events: none !important;
}
.episode-tooltip {
    pointer-events: none;

    background-color: #292929;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;

    // div{
    //     margin-top: -150px;

    // }

    max-height: 500px;
    overflow-y: auto;

    .list-item {
        color: white;
        margin: 0px 0px;
        padding: 2px 0px;
    }
}