<button mat-button color="white" (click)="showAll()"><mat-icon>chevron_left</mat-icon>all<mat-icon>chevron_right</mat-icon> </button>
<div class="container" cdkDropList [cdkDropListData]="allEpisodes" (cdkDropListDropped)="drop($event)">
  <div style="border: gray" class="episodeDiv" *ngFor="let episodeCategory of allEpisodes" cdkDrag>
    <div style="height: 50px">
      <!-- <button (click)="episodeCategory.visible = !episodeCategory.visible;" mat-button color="primary"><mat-icon>chevron_left</mat-icon><mat-icon>chevron_right</mat-icon></button> -->
      <h5 (click)="episodeCategory.visible = !episodeCategory.visible;">{{episodeCategory.crisislexCategory.name}}</h5>
    </div>
    <div style="border: 1px dashed gray">
      <dbvis-episode-vis [episode]="episodeCategory.episodes" [showText]="episodeCategory.visible">
      </dbvis-episode-vis>
    </div>
    <!-- <dbvis-episode-timeline [timelineData]="timelineData"></dbvis-episode-timeline> -->
  </div>
</div>
